body{
  background-color: #FFF;
  display: flex;
  justify-content: center;
}
.form{
  max-width: 500px;
  color: #FFF;
  min-width: 250px;
    height: 350px;
    background: linear-gradient(#e66465, #9198e5);
    padding: 2rem;
    justify-content: center;
    display: block;
    box-shadow: 0px 0px 5px 0px #000;
    border-radius: 5px;
    margin-top: 30vh;
  }
  .form h1{
    font-weight: 200;
    font-size: 2.5rem;
    text-align: center;
  }
  .form input{
    margin-top: 1rem;
    width: 100%;
    border: 1px solid #ffffffa7;
    border-top: none;
    background: none;
    border-left: none;
    border-right: none;
    height: 4.5;
    color: #FFF;
    padding: 1rem;
  }
  .form button:hover {
    border-color: #646cff;
  }
  .form button{
    margin: 3rem 6rem;
    height: 4.5vh;
    width: 200px;
    border-radius: 2rem;
    background-color: #FFF;
    color: #0000007c;
    border: 1px solid transparent;
    transition: border-color 0.25s;
  }
  ::placeholder{
    color: #FFF;
  }
  